
  <div class="col-sm-6 participate-column">
    <%= link_to participate_path do %>
      <h2>PARTICIPA</h2>
    <% end %>
    <%= image_tag 'girl.png' %>
  </div>
  <div class="col-sm-6 vote-column">
    <%= link_to vote_path do %>
      <h2>VOTA</h2>
    <% end %>
  </div>
