html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  margin-bottom: 100px;
}

.participate-column {
  h2 {
    font-size: 4em;
    font-weight: 600;
  }
  color: white;
  background-color: pink;
  height: 100%;
  img {
    height: 85%;
    position: absolute;
  }
}

.vote-column {
  h2 {
    font-size: 4em;
    font-weight: 600;
  }
  color: white;
  background-color: lightblue;
  height: 100%;
}
.kotex-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: grey;
  min-height: 100px;
  p {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
  }
}

.pink-page {
  h2 {
    font-size: 4em;
    font-weight: 600;
  }
  color: white;
  background-color: pink;
  height: 100%;
}
a, a:hover, a:visited {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
