html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.participate-column {
  h2 {
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin-top: 0px;
  }
  color: white;
  background-color: #f34c87;
  height: 90%;
  border-right: dotted 3px white;
  .row {
    height: 100%;
    .girl-column {
      height: 95%;
      position: relative;
      .girl-image {
        position: absolute;
        height: 90%;
      }
    }
    .participate-text {
      font-size: 1.7em;
      font-weight: 600;
      .highlight {
        color: #0fb8da;
      }
    }
  }
}

.vote-column {
  h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
  }
  color: white;
  background-color: #0fb8da;
  height: 90%;
}
.kotex-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: grey;
  min-height: 10%;
  p {
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;
  }
}

.pink-page {
  h2 {
    font-size: 4em;
    font-weight: 600;
  }
  color: white;
  background-color: #f34c87;
  height: 100%;
}
a, a:hover, a:visited {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
