<!DOCTYPE html>
<html>
  <head>
    <title>Kotexbolivia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <div class="col-sm-12 kotex-footer">
    RENUEVA TU VUELTA A CLASES CON KOTEX
  </div>
</html>
